body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  /* text-align: center; */
  background-color: #1e2024;
}

.navbar {
  background-color: #1e2024;
  overflow: hidden;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  position: relative;
  flex-wrap: nowrap;
  /* Prevent wrapping */
  overflow-x: auto;
  /* Allow horizontal scrolling if needed */
}

.navbar-list li {
  display: inline;
  padding: 14px 20px;
  white-space: nowrap;
  /* Prevent text wrapping */
}

.nav-link {
  color: #787878;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 10px;
  position: relative;
  transition: color 0.3s;
}

.nav-link:hover {
  background-color: #444;
  color: white;
  border-radius: 5px;
}

.navbar-list::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.navbar-list .active-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: orange;
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.navbar-list .active-link {
  color: white;
}

/* .content {
  padding: 20px;
}

.home,
.contact {
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.medium-posts {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  gap: 10px;
}

.post {
  min-width: 200px;
  flex-shrink: 0;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
}

.post img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.post h3 {
  font-size: 1.2em;
  margin-top: 10px;
} */

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar-list {
    justify-content: flex-start;
    /* Align items to the start on smaller screens */
  }

  .navbar-list li {
    padding: 10px 15px;
  }

  /* .content {
    padding: 15px;
  }

  h1 {
    font-size: 1.5em;
  }

  .medium-posts {
    flex-direction: column;
    align-items: center;
  }

  .post {
    width: 90%;
    max-width: 300px;
  } */
}

@media screen and (max-width: 480px) {
  .navbar {
    overflow-x: auto;
    /* Allow horizontal scrolling for very small screens */
  }

  .navbar-list li {
    padding: 10px;
  }

  .nav-link {
    padding: 10px;
  }

  /* .content {
    padding: 10px;
  }

  h1 {
    font-size: 1.2em;
  } */
}